{{ define "footer-suffix" }}
<script>
  // TODO 3 alternatives for calling the init function:
  window.onload = initialize;
  // the following works NOT for IE <= 8 !!!!
  //document.addEventListener("DOMContentLoaded", initialize, false);
  //$(initialize);
</script>

<script
src="https://unpkg.com/react@16/umd/react.production.min.js"
></script>
<script
src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/babel" src="js/react/WelcomeBack.js"></script>
<script type="text/babel" src="js/react/CoolButton.js"></script>

<script type="text/babel">
ReactDOM.render(<WelcomeBack />, document.querySelector(".welcome-back"));
</script>
{{ end }}