 
/*general*/
 img {
    border:0px
}
 body {
    margin: 0px 0px 20px 0px;
     background-color: #ffffff;
     text-align: center
}
 #navbkrd {
    height: 29px;
     background-color:#ACD6FF
}
/*mainnavigation*/
 #mainnavmodule {
     position: relative;
    width:800px;
     height: 29px;
     padding: 0;
     margin-left:auto;
    margin-right:auto;
     background: #ACD6FF;
}
 #navi {
     position: absolute;
     top: 4px;
     left: 10px;
     list-style: none;
     margin: 0;
     padding: 0;
     height: 21px;
     display: inline;
     overflow: hidden;
     width:800px;
}
 #navi li {
     margin: 0;
     padding: 0;
     _display:inline;
     list-style-type: none;
}
 #navi a {
     float: left;
     padding: 21px 0 0 0;
     overflow: hidden;
    margin-right:12px;
     height: 0px !important;
     height 
    /**/
    :21px;
    /* for IE5/Win */
}
 #navi a:hover {
     background-position: 0 -23px;
}
 #navi a:active, #navi a.selected {
     background-position: 0 -46px;
}
 #overview a {
     width: 24px;
     background: url(images/2005/nav/nav_home.gif) top left no-repeat;
}
 #presenters a {
     width: 77px;
     background: url(images/2005/nav/nav_pres.gif) top left no-repeat;
}
 #events a {
     width: 63px;
     background: url(images/2005/nav/nav_tut.gif) top left no-repeat;
}
 #calendar a {
     width: 121px;
     background: url(images/2005/nav/nav_cal.gif) top left no-repeat;
}
 #sessions a {
     width: 63px;
     background: url(images/2005/nav/nav_sessions.gif) top left no-repeat;
}
 #register a {
     width: 63px;
     background: url(images/2005/nav/nav_reg.gif) top left no-repeat;
}
 #logistics a {
     width: 63px;
     background: url(images/2005/nav/nav_log.gif) top left no-repeat;
}
 #sponsors a {
     width: 66px;
     background: url(images/2005/nav/nav_spon.gif) top left no-repeat;
}
 #press a {
     width: 46px;
     background: url(images/2005/nav/nav_press.gif) top left no-repeat;
}
 #news a {
     width: 44px;
     background: url(images/2005/nav/nav_news.gif) top left no-repeat;
}
 #friends a {
     width: 134px;
     background: url(images/2005/nav/nav_friends_rev.gif) top left no-repeat;
}
 #navspace{
    width:54px
}
/*calendar subnavigation*/
 #subnavmodule {
     position: relative;
    width:510px;
     height: 27px;
     padding: 0;
     margin-left:0px;
    margin-right:auto;
     background: #ffffff;
}
 #subnavi {
     position: absolute;
     top: 4px;
     left: 0px;
     list-style: none;
     margin: 0;
     padding: 0;
     height: 19px;
     display: inline;
     overflow: hidden;
     width:510px;
}
 #subnavi li {
     margin: 0;
     padding: 0;
     _display: inline;
     list-style-type: none;
}
 #subnavi a {
     float: left;
     padding: 19px 0 0 0;
     overflow: hidden;
    margin-right:12px;
     height: 0px !important;
     height 
    /**/
    :19px;
    /* for IE5/Win */
}
 #subnavi a:hover {
     background-position: 0 -21px;
}
 #subnavi a:active, #subnavi a.selected {
     background-position: 0 -42px;
}
 #monday a {
     width: 58px;
     background: url(images/2005/calendar/nav_mon.gif) top left no-repeat;
}
 #tuesday a {
     width: 59px;
     background: url(images/2005/calendar/nav_tues.gif) top left no-repeat;
}
 #wednesday a {
     width: 79px;
     background: url(images/2005/calendar/nav_wed.gif) top left no-repeat;
}
 #thursday a {
     width: 64px;
     background: url(images/2005/calendar/nav_thur.gif) top left no-repeat;
}
 #alldays a {
     width: 59px;
     background: url(images/2005/calendar/nav_all.gif) top left no-repeat;
}
 #themes a {
     width: 163px;
    margin-left:39px;
    margin-right:0px;
     background: url(images/2005/calendar/nav_special.gif) top left no-repeat;
}
/*registerbutton*/
 #regbuttonmodule {
     position: relative;
    width:92px;
     height: 29px;
     padding: 0;
     background: #FEF9CB;
}
 #evregbuttonmodule {
     position: relative;
    width:74px;
     height: 29px;
     padding: 0;
}
 #reservebuttonmodule {
     position: relative;
    width:117px;
     height: 29px;
     padding: 0;
}
 #regtop {
    background: url(images/2005/feedback_head.gif);
     background-repeat:no-repeat;
     background-position:0px 0px;
     width:227px;
     height:27px
}
 #regbody {
    background: url(images/2005/registermid.gif);
     background-repeat:repeat-y;
     background-position: 0px 0px;
     font-family:verdana;
     font-size:10px;
     color:#000000;
     width:227px;
     padding-left:8px;
     padding-top:4px;
     padding-bottom:7px;
     line-height:14px;
}
 #regbody img {
    margin-top:6px;
    margin-left:110px;
    margin-bottom:4px
}
 #welcome p {
    margin-top:6px;
    margin-bottom:3px
}
 #welcome {
    width:210px
}
 #regbottom {
    background: url(images/2005/registerbottom.gif);
     background-repeat:no-repeat;
     background-position:0px 0px;
     width:227px;
     height:5px
}
 #welcome a {
    color:#006CA2;
    font-family:verdana;
    text-decoration:none;
    font-size:10px;
    font-weight:bold;
}
 #welcome a:hover {
    color:#272357;
    font-family:verdana;
    text-decoration:none;
    font-size:10px;
    font-weight:bold
}
 #reg {
     position: absolute;
     top: 8px;
     left: 96px;
     list-style: none;
     margin: 0;
     padding: 0;
     height: 21px;
     display: inline;
     overflow: hidden;
     width:112px;
}
 #evreg {
     position: absolute;
     top: 4px;
     list-style: none;
     margin: 0;
     padding: 0;
     height: 21px;
     display: inline;
     overflow: hidden;
     width:74px;
}
 #res {
     position: absolute;
     top: 10px;
     left: 102px;
     list-style: none;
     margin: 0;
     padding: 0;
     height: 21px;
     display: inline;
     overflow: hidden;
     width:117px;
}
 #reg li {
     margin: 0;
     padding: 0;
     _display: inline;
     list-style-type: none;
}
 #reg a {
     float: left;
     padding: 21px 0 0 0;
     overflow: hidden;
    margin-right:0px;
     height: 0px !important;
     height 
    /**/
    :21px;
    /* for IE5/Win */
}
 #reg a:hover {
     background-position: 0 -23px;
}
 #reg a:active, #reg a.selected {
     background-position: 0 -46px;
}
 #evreg li {
     margin: 0;
     padding: 0;
     display: inline;
     list-style-type: none;
}
 #evreg a {
     float: left;
     padding: 21px 0 0 0;
     overflow: hidden;
    margin-right:0px;
     height: 0px !important;
     height 
    /**/
    :21px;
    /* for IE5/Win */
}
 #evreg a:hover {
     background-position: 0 -23px;
}
 #evreg a:active, #evreg a.selected {
     background-position: 0 -46px;
}
 width: 112px;
 background: url(images/2005/feedback_button.gif) top left no-repeat;undefined}undefined #res li {
 margin: 0;
 padding: 0;
 _display: inline;
 list-style-type: none;undefined}undefined #res a {
 float: left;
 padding: 21px 0 0 0;
 overflow: hidden;
margin-right:0px;
 height: 0px !important;
 height 
/**/
:21px;
/* for IE5/Win */undefined}undefined #res a:hover {
 background-position: 0 -23px;undefined}undefined #res a:active, #res a.selected {
 background-position: 0 -46px;undefined}undefined #reservego a {
 width: 117px;
 background: url(images/2005/reservebutton.gif) top left no-repeat;undefined}undefined/*bigregisterbuttons*/undefined .bigregbuttonmodule {
 position: relative;
width:320px;
 height: 41px;
 padding: 0;
 background: #ffffff;undefined}undefined .bigreg {
 position: absolute;
 top: 4px;
 left: 0px;
 list-style: none;
 margin: 0;
 padding: 0;
 height: 41px;
 display: inline;
 overflow: hidden;
 width:380px;undefined}undefined .bigreg li {
 margin: 0;
 padding: 0;
 _display: inline;
 list-style-type: none;undefined}undefined .bigreg a {
 float: left;
 padding: 40px 0 0 0;
 overflow: hidden;
margin-right:12px;
 height: 0px !important;
 height 
/**/
:21px;
/* for IE5/Win */undefined}undefined .bigreg a:hover {
 background-position: 0 -44px;undefined}undefined .bigreg a:active, #bigreg a.selected {
 background-position: 0 -88px;undefined}undefined width: 149px;undefined background: url(images/2005/reg_book_button.jpg) top left no-repeat;undefined}undefined width: 152px;undefined background: url(images/2005/reg_reg_button.jpg) top left no-repeat;undefined}undefined/*main link style*/undefined a {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:11px;undefinedfont-weight:boldundefined}undefined a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:11px;undefinedfont-weight:boldundefined}undefined h1, h2, h3 {undefined margin: 0px;undefined padding: 0px;undefined font-weight: normal;undefined}undefined #container {undefined margin-right: auto;undefined margin-left: auto;undefined text-align: left;undefined padding: 0px;undefined width: 800px;undefined background-color: #FFffff;undefined}undefined #banner {undefined background-color: #272357;undefined text-align: center;undefined border-bottom: 1px solid #FFFFFF;undefinedheight:86px;undefinedwhite-space:nowrap undefined}undefined #info {undefinedmargin-left:190pxundefined}undefined #logo {undefinedmargin-left:-4pxundefined}undefined #center {undefined float: left;undefined width: 520px;undefined overflow: hidden;undefined}undefined .content {undefined padding: 15px 15px 5px 11px;undefined background-color: #ffffff;undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefinedwidth:510px undefined}undefined .regcontent {undefined background-color: #ffffff;undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefinedwidth:764px undefined}undefined #right {undefined float: right;undefined width: 230px;undefined overflow: hidden;undefined}undefined #regheader {undefinedheight:60pxundefined}undefined #regheader p {undefinedwidth:400px;undefinedfont-size:11pxundefined}undefined .reg {undefinedfont-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefinedpadding-left:14px;undefined font-weight: normal;undefinedcolor:#000000;undefinedmargin-bottom:2px;undefinedtext-align:left;undefined background-image: url(images/2005/oneastk.gif);undefined background-position: 4px 4px;undefined background-repeat: no-repeat;undefined}undefined .comreg {undefinedfont-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefinedpadding-left:14px;undefined font-weight: normal;undefinedcolor:#000000;undefinedmargin-bottom:2px;undefinedtext-align:left;undefined background-image: url(images/2005/twoastk.gif);undefined background-position: 0px 4px;undefined background-repeat: no-repeat;undefined}undefined #regpass {undefinedfont-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefinedpadding-left:14px;undefined font-weight: normal;undefinedcolor:#272357;undefinedmargin-bottom:30px;undefinedtext-align:left;undefined background-image: url(images/2005/icon_pass.gif);undefined background-position: 4px 4px;undefined background-repeat: no-repeat;undefined}undefined .content p {undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined text-align: left;undefined margin-bottom: 10px;undefinedline-height:16px undefined}undefined .regcontent p {undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefined font-weight: normal;undefined text-align: left;undefined margin-bottom: 10px;undefinedline-height:16px undefined}undefined .content b {undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined}undefined .content li {undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefinedtext-align:left;undefinedpadding-bottom:3px undefined}undefined #keynotes {undefinedheight:86pxundefined}undefined #keynotes img {undefinedborder:0px;undefinedmargin-right:0px;undefinedmargin-top:0pxundefined}undefined #knoteL {undefinedbackground: url(images/2005/sp_container_bkrd.jpg);undefined background-position: 0 0;undefined background-repeat: repeat-x;undefined width:154px;undefined}undefined #knoteR {undefinedbackground: url(images/2005/sp_container_bkrd.jpg);undefined background-position: 0 0;undefined background-repeat: repeat-x;undefined width:154pxundefined}undefined #keynotespacer {undefinedwidth:18pxundefined}undefined #keynotename {undefinedcolor: #666666;undefined font-family: Verdana, Arial, sans-serif;undefined font-weight:bold;undefined font-size: 11px;undefined text-align:left;undefined margin-left:8px;undefined margin-top:8px;undefined}undefined .keynotedate {undefinedcolor: #666666;undefined font-family: Verdana, Arial, sans-serif;undefined font-weight:bold;undefined font-size: 10px;undefined}undefined #keynoteinfo {undefinedcolor: #666666;undefined font-family: Verdana, Arial, sans-serif;undefined font-weight:bold;undefined font-size: 10px;undefined margin-left:8px;undefined height:54px;undefined}undefined #keynotelinks {undefined}undefined #keynotelinks ul {undefinedmargin-left:6px;undefined margin-right:0px;undefined padding:0px;undefined margin-bottom:0px;undefined margin-top:0px;undefined list-style-type:none;undefined}undefined #keynotelinks li {undefinedline-height:10px;undefinedmargin:0px;undefined background-image: url(images/2005/listdot_speak.gif);undefined background-repeat: no-repeat;undefined background-position: 0px 4px;undefined padding-left: 9px;undefined color:#006CA2;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:normal;undefined}undefined #keynotelinks li a {undefined font-size:10px;undefined font-weight:normal;undefined}undefined #keynotelinks li a:hover {undefined font-size:10px;undefined font-weight:normal;undefined}undefined #keynoteaff {undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-weight:normal;undefined font-size: 10px;undefinedmargin-left:8px;undefinedmargin-bottom:4pxundefined}undefined #presentermodule {undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined margin-bottom:30px;undefined line-height:14px;undefinedtext-align:leftundefined}undefined #presentermodule img {undefinedborder:0pxundefined}undefined #presentertext p {undefinedmargin-top:6px;undefinedmargin-bottom:3px;undefinedfont-size:11px;undefined line-height:14px;undefined}undefined #keynotelinks a {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:11px;undefinedfont-weight:normal;undefined}undefined #keynotelinks a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:11px;undefinedfont-weight:normalundefined}undefined #keynotelinks {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:11px;undefinedfont-weight:normal;undefined}undefined #allspeakers {undefinedmargin-bottom:24px;undefined text-align:right;undefined margin-top:2px;undefined margin-right:12px;undefinedpadding-right:14px;undefined}undefined #allspeakers img {undefinedborder:0pxundefined}undefined .content h2 {undefined color: #666666;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: x-small;undefined text-align: left;undefined font-weight: bold;undefined margin-bottom: 10px;undefined}undefined .content h3 {undefined color: #272357;undefined font-family: Verdana, sans-serif;undefined font-size: 12px;undefined text-align: left;undefined font-weight: bold;undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 10px;undefined}undefined .regcontent h3 {undefined color: #272357;undefined font-family: Verdana, sans-serif;undefined font-size: 12px;undefined text-align: left;undefined font-weight: bold;undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 10px;undefined}undefined #reghead {undefined color: #272357;undefined font-family: Verdana, sans-serif;undefined font-size: 11px;undefined text-align: left;undefined font-weight: bold;undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 10px;undefined}undefined .content p.posted {undefined color: #808080;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined text-align: left;undefined margin-bottom: 25px;undefined line-height: normal;undefined padding: 3px;undefined}undefined #postdot {undefinedborder:0px;undefinedmargin-left:4px;undefinedmargin-right:4pxundefined}undefined .sidebar {undefined padding-top: 25px;undefined}undefined #mediatop {undefinedbackground: url(images/2005/media_head.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:229px;undefined height:22px;undefined margin-top:20pxundefined}undefined #regmediatop {undefinedbackground: url(images/2005/media_head.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:229px;undefined height:22px;undefined}undefined #mediabody {undefinedbackground: url(images/2005/spons_mid.gif);undefined background-repeat:repeat-y;undefined background-position: 0px 0px;undefined font-family:verdana;undefined font-size:10px;undefined color:#000000;undefined width:229px;undefined padding-top:4px;undefined padding-bottom:4px;undefined line-height:14px;undefined}undefined #mediabody img {undefinedborder:0pxundefined}undefined #goldtop {undefinedbackground: url(images/2005/gold_head.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:229px;undefined height:22px;undefined margin-top:20pxundefined}undefined #goldbody {undefinedbackground: url(images/2005/spons_mid.gif);undefined background-repeat:repeat-y;undefined background-position: 0px 0px;undefined font-family:verdana;undefined font-size:10px;undefined color:#000000;undefined width:227px;undefined padding-top:4px;undefined padding-bottom:4px;undefined line-height:14px;undefined}undefined #silvertop{undefinedbackground: url(images/2005/silver_head.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:229px;undefined height:22pxundefined}undefined #silverbody {undefinedbackground: url(images/2005/spons_mid.gif);undefined background-repeat:repeat-y;undefined background-position: 0px 0px;undefined font-family:verdana;undefined font-size:10px;undefined color:#000000;undefined width:227px;undefined padding-top:4px;undefined padding-bottom:4px;undefined line-height:14px;undefined}undefined #sponsbottom {undefinedbackground: url(images/2005/spons_bottom.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:227px;undefined height:21px;undefined padding-top:4pxundefined}undefined #mediabottom {undefinedbackground: url(images/2005/media_bottom.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:229px;undefined height:20px;undefined padding-top:3pxundefined}undefined #sponlink a {undefinedmargin-left:66px;undefinedline-height:normal;undefinedfont-size:10pxundefined}undefined #sponlink a:hover {undefinedmargin-left:66px;undefinedline-height:normal;undefinedfont-size:10pxundefined}undefined #blogtop {undefinedbackground: url(images/2005/blog_head.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:229px;undefined height:29px;undefined margin-top:20pxundefined}undefined #blogbody {undefinedbackground: url(images/2005/blog_mid.gif);undefined background-repeat:repeat-y;undefined background-position: 0px 0px;undefined font-family:verdana;undefined font-size:10px;undefined color:#000000;undefined width:227px;undefined padding-left:9px;undefined padding-top:4px;undefined padding-right:8px;undefined line-height:14px;undefined}undefined #blogbottom {undefinedbackground: url(images/2005/blog_bottom.gif);undefined background-repeat:no-repeat;undefined background-position:0px 0px;undefined width:227px;undefined height:8px;undefined padding-top:3pxundefined}undefined #archive {undefinedpadding-left:5pxundefined}undefined #archive a {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:boldundefined}undefined #archive a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:boldundefined}undefined #categories a {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:boldundefined}undefined #catagories a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:boldundefined}undefined .innermenu a {undefined color:#006CA2;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:bold;undefined margin-bottom:4pxundefined}undefined .innermenu a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:boldundefined}undefined .innermenu {undefinedpadding-left:11pxundefined}undefined .menu {undefined font-family:verdana;undefined color:#666666;undefined font-size:10px;undefinedwidth:150px;undefined text-align:left;undefinedbackground-color:#deefff;undefinedpadding-top:6px;undefinedline-height:14px undefined}undefined .menuActuator {undefinedpadding-top:4pxundefined}undefined .tharrow {undefinedbackground: url(images/2005/theme_arrow.gif);undefined background-position: 0px 2px;undefined background-repeat:no-repeat;undefined}undefined #spBubble {undefinedmargin-top:10px;undefined}undefined #spBubble img {undefinedborder:0px;undefinedmargin:0pxundefined}undefined #spbubblebody {undefinedheight:19px;undefined background: url(images/2005/mid_sp_bubble.jpg);undefined background-position: 0 0;undefined background-repeat: repeat-x;undefined color: #666666;undefined font-weight:bold;undefinedpadding-top:2px;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefined}undefined #spbubblebody a {undefinedcolor:#006CA2;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:boldundefined}undefined #spbubblebody a:hover {undefinedcolor:#272357;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:boldundefined}undefined #sptitle{undefinedfont-family:verdana;undefined text-decoration:none;undefined font-size:11px;undefined font-weight:bold;undefinedcolor:#666666undefined}undefined #spcomp {undefinedfont-family:verdana;undefined text-decoration:none;undefined font-size:11px;undefined font-weight:bold;undefinedcolor:#666666undefined}undefined #spname {undefinedcolor:#000000;undefinedfont-family:verdana;undefined text-decoration:none;undefined font-size:11px;undefined font-weight:bold;undefined}undefined #media td {undefinedpadding-bottom:18pxundefined}undefined #regBubble {undefined}undefined #regBubble img {undefinedborder:0px;undefinedmargin:0pxundefined}undefined #regbubblebody {undefinedheight:40px;undefinedbackground: url(images/2005/mid_blu.gif);undefined background-position: 0 0;undefined background-repeat: repeat-x;undefined color: #000000;undefined font-weight:normal;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefinedoverflow:hidden;undefinedpadding-top:9pxundefined}undefined #regbubblebody a {undefinedcolor:#006CA2;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:bold;undefinedtext-align:leftundefined}undefined #regbubblebody a:hover {undefinedcolor:#272357;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:boldundefined}undefined .bubbleadj {undefined}undefined #regBubbletwo {undefined}undefined #regBubbletwo img {undefinedborder:0px;undefinedmargin:0pxundefined}undefined #regbubblebodytwo {undefinedheight:29px;undefined background: url(images/2005/mid_mau.gif);undefined background-position: 0 0;undefined background-repeat: repeat-x;undefined color: #000000;undefined font-weight:normal;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefinedoverflow:hidden;undefinedpadding-top:8pxundefined}undefined .sidebar h2 {undefined color: #999999;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefined text-align: left;undefined}undefined .sidebar ul {undefined padding-left: 0px;undefined margin: 0px;undefined margin-bottom: 30px;undefined}undefined .sidebar ul ul {undefined margin-bottom: 0px;undefined}undefined .sidebar #categories ul {undefined padding-left: 15px;undefined}undefined .sidebar li {undefined color: #666666;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: x-small;undefined text-align: left;undefined line-height: 150%;undefined margin-top: 10px;undefined list-style-type: none;undefined}undefined .sidebar #categories li {undefined list-style-type: circle;undefined}undefined .photo {undefined text-align: left;undefined margin-bottom: 20px;undefined}undefined .link-note {undefined font-family: Verdana, Arial, sans-serif;undefined font-size: x-small;undefined line-height: 150%;undefined text-align: left;undefined padding: 2px;undefined margin-bottom: 15px;undefined}undefined #footer {undefinedmargin-top:20pxundefined}undefined #footbody {undefinedheight:25px;undefinedbackground: url(images/2005/mid_footx.gif);undefined background-position: 0 0;undefinedbackground-repeat: repeat-x;undefined color: #666666;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefinedpadding-top:6px;undefined text-align: center;undefinedline-height:18pxundefined}undefined #footbody a {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:normalundefined}undefined #footbody a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:10px;undefinedfont-weight:normalundefined}undefined #submissionhead{undefinedbackground-color:#272357;undefinedmargin-bottom:20pxundefined}undefined #eventmodule {undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined text-align: left;undefinedline-height:16px;undefinedpadding-left:15pxundefined}undefined #evReglink{undefinedtext-align:leftundefined}undefined #evInfocontainer {undefinedwidth:530pxundefined}undefined #evTitle {undefined color: #272357;undefined font-family: Verdana, sans-serif;undefined font-size: 12px;undefined text-align: left;undefined font-weight: bold;undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 10px;undefined}undefined #evPres{undefinedfont-weight:boldundefined}undefined #evDesc {undefinedmargin-top:30px;undefinedmargin-bottom:10px;undefinedmargin-right:20pxundefined}undefined #evloc {undefinedcolor:#666666;undefinedfont-weight:bold;undefined background: url(images/2005/tut_icons/location.gif);undefined background-position: 0 5;undefined background-repeat: no-repeat;undefinedpadding-left:14pxundefined}undefined #evtime {undefinedcolor:#666666;undefinedfont-weight:bold;undefined background: url(images/2005/tut_icons/time.gif);undefined background-position: 0 5;undefined background-repeat: no-repeat;undefinedpadding-left:14pxundefined}undefined/*calendarlayout*/undefined #tableone, #tabletwo {undefinedfont-family:verdana;undefinedfont-size:10px;undefinedmargin-bottom:10pxundefined}undefined .dec {undefinedbackground-color:#FEFDE1;undefinedtext-align:left;undefinedpadding:3pxundefined}undefined .decall {undefinedbackground-color:#FEFDE1;undefinedcolor:#000000;undefinedtext-align:leftundefined}undefined .decone {undefinedbackground-color:#FEFDE1;undefinedcolor:#4c4c4c;undefinedtext-align:leftundefined}undefined .decpass {undefinedbackground-color:#FEFDE1;undefinedcolor:#272357;undefinedtext-align:leftundefined}undefined .decpasshead {undefinedbackground-color:#FEFDE1;undefined color:#272357;undefined background-image: url(images/2005/icon_pass.gif);undefined background-position: 50px 2px;undefined background-repeat: no-repeat;undefinedwidth:58px;undefinedtext-align:leftundefined}undefined .dectut {undefinedbackground-color:#fffef1;undefinedcolor:#000000;undefinedtext-align:leftundefined}undefined .jan {undefinedbackground-color:#f3f0f9;undefinedcolor:#272357;undefinedtext-align:left;undefinedpadding:3pxundefined}undefined .janall {undefinedbackground-color:#f3f0f9;undefinedcolor:#000000;undefinedtext-align:leftundefined}undefined .janone {undefinedbackground-color:#f3f0f9;undefinedcolor:#4c4c4c;undefinedtext-align:leftundefined}undefined .janpass {undefinedbackground-color:#f3f0f9;undefinedcolor:#272357;undefinedtext-align:leftundefined}undefined .janpasshead {undefinedbackground-color:#f3f0f9;undefined color:#272357;undefined background-image: url(images/2005/icon_pass.gif);undefined background-position: 50px 2px;undefined background-repeat: no-repeat;undefinedwidth:58px;undefinedtext-align:leftundefined}undefined .jantut {undefinedbackground-color:#f9f7fa;undefinedtext-align:leftundefined}undefined .feb {undefinedbackground-color:#efefef;undefinedcolor:#4c4c4c;undefinedtext-align:left;undefinedpadding:3pxundefined}undefined .feball {undefinedbackground-color:#efefef;undefinedcolor:#000000;undefinedtext-align:leftundefined}undefined .febone {undefinedbackground-color:#efefef;undefinedcolor:#4c4c4c;undefinedtext-align:leftundefined}undefined .febpass {undefinedbackground-color:#efefef;undefinedcolor:#272357;undefinedtext-align:leftundefined}undefined .febpasshead {undefinedbackground-color:#efefef;undefined color:#272357;undefined background-image: url(images/2005/icon_pass.gif);undefined background-position: 50px 2px;undefined background-repeat: no-repeat;undefinedwidth:58px;undefinedtext-align:leftundefined}undefined .febtut {undefinedbackground-color:#f9f7fa;undefinedtext-align:leftundefined}undefined .febtut {undefinedbackground-color:#f9f9f9;undefinedtext-align:leftundefined}undefined .mem {undefinedbackground-image: url(images/2005/oneastk.gif);undefined background-position: 51px 8px;undefined background-repeat: no-repeat;undefinedtext-align:leftundefined}undefined .com {undefinedbackground-image: url(images/2005/twoastk.gif);undefined background-position: 64px 8px;undefined background-repeat: no-repeat;undefinedtext-align:leftundefined}undefined #buttcontainer1 {undefinedmargin-left:50pxundefined}undefined #buttcontainer2 {undefinedmargin-left:180px;undefinedmargin-bottom:30pxundefined}undefined/*jive register popup hack*/undefined .table_header {undefined background-color: #ffffff;undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefinedfont-size:10pxundefined}undefined .form_title {undefined color: #272357;undefined font-family: Verdana, sans-serif;undefined font-size: 11px;undefined text-align: left;undefined font-weight: bold;undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 10px;undefined}undefined .form_subtitle, .form_prompt, .form_prompt_required {undefined background-color: #ffffff;undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefinedfont-size:10pxundefined}undefined/*eventspage*/undefined .sessioncontainer {undefinedmargin-bottom:80pxundefined}undefined .eventmodule {undefinedfont-size:11pxundefined}undefined .eventmodule h3 {undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 20px;undefinedmargin-top:20px undefined}undefined .levelindicator img {undefinedborder:0px;undefinedmargin:0pxundefined}undefined .evenTable {undefinedfont-family:verdana;undefined text-decoration:none;undefined font-size:11px;undefinedline-height:16px undefined}undefined .eventTitle {undefinedcolor:#000000;undefinedfont-weight:bold;undefinedheight:18px;undefinedfont-size:11pxundefined}undefined .eventPresenters a {undefinedcolor:#006CA2;undefinedfont-weight:normal;undefinedtext-decoration:noneundefined}undefined .eventPresenters a:hover {undefinedcolor:#272357;undefinedfont-weight:normal;undefinedtext-decoration:noneundefined}undefined .eventDesc {undefinedpadding-top:10px;undefinedpadding-bottom:14pxundefined}undefined .eventLoc{undefinedcolor: #666666;undefinedpadding-left:8pxundefined}undefined .eventTime{undefinedcolor: #666666;undefinedpadding-left:6pxundefined}undefined .eventDate{undefinedcolor: #666666;undefined}undefined .themeTitle {undefinedcolor:#000000;undefinedfont-weight:bold;undefinedheight:20px;undefinedfont-size:11px;undefinedpadding-top:12pxundefined}undefined .eventpdf {undefinedbackground: url(images/2005/pdf_icon.gif);undefined background-position: 0 0;undefined background-repeat: no-repeat;undefined padding-left:24px;undefinedpadding-bottom:6pxundefined}undefined .eventfeedback {undefinedbackground: url(images/2005/feedback_icn.gif);undefined background-position: 25px 3px;undefined background-repeat: no-repeat;undefined padding-bottom:6pxundefined}undefined .sessionsfeedback {undefinedbackground: url(images/2005/feedback_icn.gif);undefined background-position: 0px 2px;undefined background-repeat: no-repeat;undefined}undefined .timedateseparator {undefinedbackground: url(images/2005/tut_icons/tut_datetimesep.gif);undefined background-position: 0 6;undefined background-repeat: no-repeat;undefinedwidth:7px;undefinedheight:10px;undefined margin-left:10px;undefinedmargin-right:10pxundefined}undefined .icnLoc {undefinedbackground: url(images/2005/tut_icons/location.gif);undefined background-position: 6 5;undefined background-repeat: no-repeat;undefinedwidth:16px;undefinedheight:9px;undefined}undefined .icnTime {undefinedbackground: url(images/2005/tut_icons/time.gif);undefined background-position: 0 3;undefined background-repeat: no-repeat;undefinedwidth:9px;undefinedheight:9px;undefined}undefined .level {undefinedheight:19px;undefined color: #333333;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 9px;undefined padding-left:6pxundefined}undefined .levelindicator {undefinedheight:19px;undefined color: #333333;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 9px;undefinedwidth:41px;undefined padding-left:6pxundefined}undefined .ordering {undefinedcolor:#666666;undefinedheight:20pxundefined}undefined .sponz p {undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined text-align: left;undefined margin-bottom: 10px;undefinedmargin-top:2px;undefinedline-height:16pxundefined}undefined .sponz {undefinedmargin-bottom:30pxundefined}undefined .sponz img {undefinedborder:0px;undefinedfloat:left;undefinedmargin-right:8pxundefined}undefined #media img {undefinedborder:0px;undefined}undefined #silver {undefinedmargin-bottom:60pxundefined}undefined #gold {undefinedmargin-bottom:60px;undefinedmargin-top:40pxundefined}undefined #media {undefinedmargin-bottom:60pxundefined}undefined #foebannersSM {undefinedmargin-bottom:30px;undefinedmargin-top:20pxundefined}undefined #foebannersSM img {undefinedmargin-bottom:10px;undefineddisplay:blockundefined}undefined #foebannersMD {undefinedmargin-bottom:30pxundefined}undefined #foebannersMD img {undefinedmargin-bottom:10px;undefineddisplay:blockundefined}undefined #foebannersLG {undefinedmargin-bottom:30pxundefined}undefined #foebannersLG img {undefinedmargin-bottom:10px;undefineddisplay:blockundefined}undefined/* calendar*/undefined #calguide {undefined width:227px;undefined padding-top:4px;undefined padding-right:15px;undefined line-height:14px;undefinedmargin-top:20px;undefinedmargin-bottom:0pxundefined}undefined .calheader {undefinedmargin-bottom:14pxundefined}undefined #calendarcontainer {undefined font-family: Verdana, Arial, sans-serif;undefinedfont-size: 10px;undefinedcolor: #006CA2;undefined margin-left:60px undefined}undefined #caldesc {undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined}undefined #calendarcontainer td {undefinedborder-collapse:collapseundefined}undefined .starttime {undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefined font-weight: bold;undefined text-align: right;undefined border-right: 1px solid #666666;undefined width:40px;undefinedheight:40px;undefined padding-right:4px;undefined vertical-align:top undefined}undefined .time {undefined color: #999999;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefined text-align: right;undefined border-right: 1px solid #666666;undefined width:40px;undefinedheight:40px;undefined padding-right:4px;undefined vertical-align:top undefined}undefined .timemarker {undefined border-right: 1px solid #666666;undefined border-top: 1px solid #cccccc;undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefined font-weight:bold;undefined text-align: right;undefined width:40px;undefined height:40px;undefined padding-right:4px;undefined vertical-align:top undefined}undefined .columntwo {undefinedborder-right: 1px solid #666666;undefinedborder-collapse:collapseundefined}undefined .columnthree {undefinedborder-right: 1px solid #666666;undefinedborder-collapse:collapseundefined}undefined .columnfour{undefinedborder-right: 1px solid #666666;undefinedborder-collapse:collapseundefined}undefined .inprogress {undefinedbackground-color:#f6f6f6;undefinedborder-top: 1px solid #cccccc;undefined border-bottom: 1px solid #cccccc;undefinedborder-collapse:collapseundefined}undefined .calendarmoduleB {undefinedborder-top: 1px solid #cccccc;undefined border-bottom: 1px solid #cccccc;undefined background-color:#f6f6f6;undefinedpadding-top:6px;undefinedborder-collapse:collapse undefined}undefined .submoduleB {undefinedfont-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefinedpadding-left:3px;undefinedborder-collapse:collapseundefined}undefined .calendarmoduleNoB {undefined background-color:#f6f6f6;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 10px;undefinedborder-collapse:collapse undefined}undefined .calEvent a {undefinedcolor:#006CA2;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:bold;undefined}undefined .calEvent a:hover {undefinedcolor:#272357;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:boldundefined}undefined .calPresenters a {undefinedcolor:#006CA2;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:normalundefined}undefined .calPresenters a:hover {undefinedcolor:#272357;undefined font-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined font-weight:normalundefined}undefined .calLocation{undefinedfont-family:verdana;undefined text-decoration:none;undefined font-size:10px;undefined color:#666666;undefined background-image: url(images/2005/calendar/cal_loc_icn.gif);undefined background-position: 2px 4px;undefined background-repeat:no-repeat;undefined padding-left:16px;undefined}undefined .calTime{undefinedfont-family:verdana;undefined text-decoration:none;undefined font-size:11px;undefined font-weight:normal;undefinedcolor:#666666;undefined background-image: url(images/2005/calendar/cal_time_icn.gif);undefined background-position: 2px 4px;undefined background-repeat:no-repeat;undefined padding-left:16px;undefined}undefined #friendlogo img {undefinedborder:0pxundefined}undefined .loglists {undefinedmargin-top:4pxundefined}undefined/* waiting list */undefined #signupformcontainer form {undefined color: #999999;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: bold;undefinedmargin-top:34pxundefined}undefined .longtext {undefinedwidth:200px;undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined}undefined .medtext {undefinedwidth:160px;undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined}undefined .shorttext {undefinedwidth:80px;undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined}undefined #reqnotice {undefinedcolor:#272357;undefinedfont-weight:bold;undefinedfont-size:11pxundefined}undefined .req {undefinedcolor:#272357undefined}undefined/* feedback */undefined #feedbackformcontainer form {undefined color: #999999;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: bold;undefinedmargin-top:34pxundefined}undefined #ratingblock {undefinedfont-weight:normal;undefinedmargin-top:4pxundefined}undefined #ratingkey {undefinedfont-weight:normal;undefinedmargin-top:4pxundefined}undefined #ratingblock input {undefineddisplay:inline;undefinedposition:relative;undefinedtop:3px;undefinedmargin-left:10pxundefined}undefined .xlongtext {undefinedwidth:300px;undefinedcolor: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined}undefined #poor {undefinedmargin-left:86pxundefined}undefined #average {undefinedmargin-left:54pxundefined}undefined #excellent {undefinedmargin-left:34pxundefined}undefined #errornotice {undefinedcolor:#ff0000;undefinedfont-weight:normal;undefinedfont-size:11pxundefined}undefined/* news */undefined .newsdateheaders {undefinedcolor:#333333;undefinedfont-weight:normal;undefinedfont-size:11px;undefined margin-left:28pxundefined}undefined/* pics pop ups */undefined .picscontent h3 {undefined color: #272357;undefined font-family: Verdana, sans-serif;undefined font-size: 12px;undefined text-align: left;undefined font-weight: bold;undefined border-bottom: 1px solid #E3D9E8;undefined margin-bottom: 10px;undefined}undefined .picscontent {undefined padding: 15px 15px 5px 11px;undefined background-color: #ffffff;undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefinedwidth:510px undefined}undefined .picscontent p {undefined color: #000000;undefined font-family: Verdana, Arial, sans-serif;undefined font-size: 11px;undefined font-weight: normal;undefined text-align: left;undefined margin-bottom: 16px;undefinedline-height:16px undefined}undefined .photoblock {undefinedmargin-bottom:18pxundefined}undefined .photocredit {undefinedfont-size:9px;undefinedcolor:#666666undefined}undefined .photocredit a {undefinedcolor:#006CA2;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:9px;undefinedfont-weight:normalundefined}undefined .photocredit a:hover {undefinedcolor:#272357;undefinedfont-family:verdana;undefinedtext-decoration:none;undefinedfont-size:9px;undefinedfont-weight:normalundefined}undefined 